<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}},江矿宝宝,joname,joname.liangtan,前端,伪前端,js,jquery,javascript,html5,开发者,攻城狮,码农,挖煤,挖矿,鹅厂,猪厂,矿厂,极客,编程,代码,开源,IT网站,Developer,Programmer,Coder,Geek,html,html5,css,css3,Front-end,Front-end Developer,FE,FEer" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.png"}}">
    <link href="{{asset "css/all.min.css"}}" rel="stylesheet">
    <link href="https://fonts.css.network/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://joe-10005639.cossh.myqcloud.com/prism.css" rel="stylesheet"> {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">
    {{navigation}}
    <div class="site-wrapper">
        {{{body}}}
        <footer class="site-footer clearfix">
            <section class="poweredby">{{date format="YYYY"}} &copy; Made with <i class="fa fa-heart"></i> using &lt;ghost/&gt;</section>
        </footer>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://joe-10005639.cossh.myqcloud.com/prism.js"></script>
    <script src="https://cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.js"></script>
    <script src="https://tajs.qq.com/stats?sId=59279948" charset="UTF-8"></script>
    <script src="{{asset "js/index.min.js"}}"></script>
    {{ghost_foot}}
</body>

</html>
